<div class="main_content">
	<div id="recipe_top" class="row">
		<%= render 'image_show' %>
		<%= render 'recipe_info_show' %>
	</div>

	<div class="row">
		<%= render 'ingredients_show' %>
		<%= render 'directions_show' %>
	</div><br>
	<%= render 'buttons' %>
</div>
<%= render 'render_comment_fields' %>
